.loaderContainer {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 58px;
  height: 58px;
  border: 6px solid #ddd;
  border-top-color: #3f51b5; /* color principal */
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
