.navbar {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(22, 22, 22);
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.logo {
  color: aliceblue;
}
.logo:hover {
  color: rgb(76, 0, 255);
}

.navlinks {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;

  cursor: pointer;
  color: white;
  list-style: none;
}
